:root {
  --active-color: #005ca4;
  --gray-color: #121212;
  --brown-color: #b87333;
  --grey: #191919;
  --light-grey: #2f2f2f;
}
img {
  max-width: 100%;
}
body {
  background: #000;
  font-family: "Poppins", sans-serif;
}
.font-perv {
  font-family: "Pervitina-Dex";
}
.mt-custom {
  margin: 114px auto 0;
}
.text-blue {
  color: var(--active-color);
}
.text-grey {
  color: #7f7f7f;
}
.text-brown {
  color: var(--brown-color);
}

video {
  width: 100%;
  border-radius: 10px;
}
.heading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -78px 0 0 -278px;
  font-size: 8.25vw;
}
.text-beleive {
  opacity: 0.3;
  font-style: italic;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 3.11px;
  text-align: center;
}
.btn-secondary {
  background: none;
  border: 2px solid #fff;
  font-size: 0.9rem;
}
.bi-arrow-down {
  font-size: 35px;
}
.heading-2 {
  font-size: 6.25vw;
}
.heading-3 {
  font-size: 3.5vw;
}
.heading-3.font-perv:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 8px;
  width: 38%;
  background: var(--active-color);
  border-radius: 4px;
}
.heading-4 {
  font-size: 2.75vw;
  line-height: 1;
}
.heading-4:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 8px;
  width: 38%;
  background: var(--active-color);
  border-radius: 4px;
}
.font-weight-extralight {
  font-weight: 200;
}
.list-group-item {
  background: none;
}
.sub-heading {
  font-size: 2.65vw;
  line-height: 1.4;
}
.text-strong {
  font-size: 1.2rem;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-2rem {
  font-size: 1.4rem;
}
.list-group-flush .list-group-item {
  border-color: #363636;
}
.text-light-blue {
  color: #97d1ff;
}
.accordion > .card {
  background-color: unset;
}
.list-item {
  margin: 0 0 0 20px;
}
.list-item-custom {
  border: none;
}
.list-item-custom:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 1px;
  background: #fff;
  opacity: 0.5;
}

.list-item-custom:last-child:after {
  display: none;
}
.bg-blue {
  background: var(--active-color);
}
.bg-dark-grey {
  background: var(--grey);
}
.bg-grey {
  background: #0b0b0b;
}
.bg-gray {
  background: var(--gray-color);
}

.container-design {
  padding: 12vw 0;
}
.bg-banner {
  background: url(../img/banner-2.jpg) center center/cover no-repeat;
  height: 532px;
}
.footer-links a {
  text-decoration: underline;
}

.grid-container {
  background: url(../img/bg-dots-grid.jpg) center center/cover no-repeat;
}
.grid-item {
  padding: 18px;
  text-align: center;
  border: 3px solid #9d9d9d;
  border-radius: 5px;
  margin: 10px;
  flex: 1 0 16%;
}
.grid-img img {
  width: 45px;
  padding: 2px;
}
.section-fully-loaded {
  background: url(../img/bg-dots-loaded.jpg) center center/cover no-repeat;
}
.product-image {
  background: url(../img/bg-dots-machine.jpg) center center/cover no-repeat;
}
.bg-dots-squeegee {
  background: #191919;
}
.overflow-img {
  max-width: 450px;
  position: absolute;
  top: 13%;
  left: 0;
}
.navbar {
  background: #000;
}
.navbar-toggler {
  background-color: rgb(239, 239, 239);
}
.country-flag {
  width: 35px;
  vertical-align: middle;
}
.img-main-logo {
  height: 56px;
}
.img-logo {
  width: 300px;
}
.tag {
  background: var(--brown-color);
  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
  text-transform: capitalize;
  display: inline-table;
}
.leaflet-grey {
  display: flex;
  align-items: center;
  flex: 1 0 21%;
  padding: 20px;
  background: #303030;
  margin: 10px;
  height: 124px;
}
.leaflet-grey:nth-of-type(n) {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.leaflet-grey:nth-of-type(2n) {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bg-gradient {
  background-image: linear-gradient(180deg, #0d0d0d 0%, #000000 100%);
}
.bg-dots-logo {
  background: url(../img/bg-dots-logo.png) center center/cover no-repeat;
}
.text-believe {
  font-size: 5.25vw;
}
.bg-design-construction {
  background-image: url(../img/bg-dots-design.png);
  background-repeat: no-repeat;
  background-position: 25% center;
  background-size: contain;
}
.bg-dots-features {
  background: url(../img/bg-dots-features.png) center center/cover no-repeat;
}
.navbar-nav .nav-link {
  font-size: 14px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--active-color) !important;
  border-bottom: 2px solid var(--active-color);
}
.dropdown-menu {
  /* display: flex; */
  left: auto;
  right: -175%;
  align-items: flex-end;
  background: #000;
}
.dropdown-item {
  text-align: center;
  color: #fff;
  display: inline-block;
  white-space: normal;
  font-size: small;
  opacity: 0.8;
}
.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
  background: #000;
  color: #fff;
  opacity: 1;
}

.list-icon .font-icon {
  height: 18px;
}
.font-icons {
  width: 1em;
  height: 1em;
  color: #fff;
}
.copyright p,
.copyright a {
  color: #c5c5c5 !important;
  font-size: 12px;
}
.list-group-item {
  border: none;
}
.list-group-item.active {
  background: none;
  border: none;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--active-color) !important;
  border-color: var(--active-color) !important;
  outline: var(--active-color) !important;
  box-shadow: none !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--active-color) !important;
  border-color: var(--active-color) !important;
  outline: var(--active-color) !important;
  box-shadow: none !important;
}
.bi-arrow-right-short {
  font-size: 30px;
}
.logo-container {
  height: 100px;
}
.grid-item p {
  height: 40px;
}
[data-aos="rotate"] {
  opacity: 0;
  transform: rotate(30deg);
  transition-property: opacity, transform;
}
[data-aos="rotate"].aos-animate {
  opacity: 1;
  transform: rotate(0);
}
[data-aos="shake"].aos-animate {
  animation: shake 0.5s;
  animation-iteration-count: 10;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.nav-pills .nav-link {
  color: #fff;
  font-size: 0.8rem;
  max-width: 190px;
  opacity: 0.5;
}
.nav-pills .nav-link:hover {
  color: #fff;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
  opacity: 1;
}
.bg-dots-rect {
  background: url(../img/rectangle.png) center center/ cover no-repeat;
}
.bg-light-grey {
  background-color: var(--light-grey);
}
.list-style-none {
  list-style: none;
}
.copperhead-logo-white {
  max-width: 75%;
}
.tag-coming-soon {
  display: block;
  max-width: 150px;
}
@media only screen and (max-width: 768px) {
  .leaflet-grey {
    height: auto;
    padding: 10px;
  }
  .overflow-img {
    position: static;
    max-width: 100%;
  }
  .grid-item {
    flex: 1 0 22%;
  }
}
@media only screen and (max-width: 600px) {
  .nav-pills .nav-link {
    max-width: 95px;
    padding: 0.2rem;
  }
  .list-group-item {
    padding-left: 0;
  }
  .heading-3 {
    font-size: 6vw;
  }
  .list-item {
    margin: 0 0 0 15px;
  }
  .img-main-logo {
    height: 35px;
  }
  .img-logo {
    width: 150px;
  }
  .leaflet-grey {
    padding: 10px;
    flex: 1 0 29%;
    height: auto;
  }
  .container-design {
    margin: 100px 0 0;
    padding: 0;
  }
  .grid-item {
    flex: 1 0 30%;
    padding: 5px;
    margin: 5px;
  }
  .grid-item p {
    height: 50px;
  }
  .grid-img img {
    width: 35px;
  }
  .sub-heading {
    font-size: 1rem;
  }
  .font-2rem {
    font-size: 1rem;
  }
  .text-strong {
    font-size: 1rem;
  }
  .navbar-toggler {
    background: #fff;
    border-color: #fff;
  }

  .list-item-custom:after {
    width: 100%;
  }
  .text-believe {
    font-size: 11vw;
  }
  .grid-item p {
    line-height: 1;
    margin: 0;
  }
  .copperhead-white {
    max-width: 65%;
  }
  .logo-container {
    height: 50px;
  }
  .heading-4 {
    font-size: 5.5vw;
  }
}
